---
import Layout from '@layouts/Layout.astro'
---

<Layout
  title="Reliable Inspections"
  description="We offer certified home and commercial inspections throughout Kentucky. Get fast scheduling, digital reporting, and expert analysis from KY's most trusted inspection team."
>
  <main class="px-page"></main>
</Layout>
