---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Astro Starter" description="A minimal Astro Starter template.">
  <main class="px-page">
    <h1 class="mb-3 text-2xl">
      Use this as a starting point for your projects.
    </h1>
    <p class="mb-2 text-lg">
      This template includes the following technologies:
    </p>
    <ul class="list-inside list-disc space-y-2">
      <li>
        [Astro]<a
          href="https://astro.build/"
          class="text-sky-600 underline hover:text-sky-500"
          >(https://astro.build/)</a
        >
      </li>
      <li>
        [Astro SEO]<a
          href="https://github.com/brillout/astro-seo"
          class="text-sky-600 underline hover:text-sky-500"
          >(https://github.com/brillout/astro-seo)</a
        >
      </li>
      <li>
        [TailwindCSS]<a
          href="https://tailwindcss.com/"
          class="text-sky-600 underline hover:text-sky-500"
          >(https://tailwindcss.com/)</a
        >
      </li>
      <li>
        [Tailwind Variants]<a
          href="https://www.tailwind-variants.org/docs/getting-started"
          class="text-sky-600 underline hover:text-sky-500"
          >(https://www.tailwind-variants.org/docs/getting-started)</a
        >
      </li>
      <li>
        [Prettier]<a
          href="https://prettier.io/"
          class="text-sky-600 underline hover:text-sky-500"
          >(https://prettier.io/)</a
        >
      </li>
      <li>
        [TypeScript]<a
          href="https://www.typescriptlang.org/"
          class="text-sky-600 underline hover:text-sky-500"
          >(https://www.typescriptlang.org/)</a
        >
      </li>
    </ul>
  </main>
</Layout>
