---

---

<footer class="p-page mt-auto flex items-center justify-between">
  <a href="/" class="font-medium">Minimal Astro Starter Template</a>
  <a href="https://github.com/emrosas" class="underline hover:text-sky-600"
    >Created by emrosas</a
  >
</footer>
