---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'a'> {
  label: string
  url: string
}

const { url, label } = Astro.props
const pathname = Astro.url.pathname
---

<li class="text-dark-2 group hover:text-green-1 relative">
  <a
    href={url}
    class:list={[url === pathname ? 'text-green-1' : '', 'transition']}
  >
    {label}
  </a>
  <span
    aria-hidden="true"
    class="absolute -bottom-2 left-1/2 size-1 -translate-x-1/2 rounded-full bg-current opacity-100 transition not-group-hover:translate-y-1 not-group-hover:opacity-0"
  ></span>
</li>
