---
// Head
import { Font } from 'astro:assets'
import { SEO } from 'astro-seo'

// Components
import Navbar from '@components/Navbar.astro'
import Footer from '@components/Footer.astro'

// Styles
import '../styles/global.css'

// Props
interface Props {
  title: string
  description: string
}
const { title, description } = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <Font cssVariable="--font-geist" />
    <SEO
      title={title}
      titleDefault="Reliable Inspections"
      description={description}
      openGraph={{
        basic: {
          title: 'Reliable Inspections',
          image: 'https://reliable-inspections-y8i9r.sevalla.page/og.jpg',
          type: 'website',
        },
      }}
      extend={{
        link: [{ rel: 'icon', href: '/favicon.svg', type: 'image/svg+xml' }],
      }}
    />
  </head>
  <body class="flex min-h-screen flex-col">
    <Navbar />
    <slot />
    <Footer />
    <script src="../lib/main.ts"></script>
  </body>
</html>
